.restaurant-details {
    margin-bottom: 100px;
}
.modal-body .form-label {
    font-weight: 700;
}

@media screen and (max-device-width: 992px) {
    .restaurant-details img {
        display: none;
    }
    .card-body > * {
        margin: 0 auto;
    }
    .card-text {
        padding-left: 15px;
    }
    .card-subtitle {
        flex-direction: column;
        gap: 10px;
    }
    .details-buttons {
        flex-direction: column;
        gap: 20px;
    }

    .update-tables-container {
        flex-direction: column;
    }
    .update-time-container {
        flex-direction: column;
    }
}
