#root {
    font-family: "Inconsolata", monospace;
}

.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, wheat, orange 100%);
    font-size: larger;
}
